$display-font: "Montserrat";
$body-font: "Source Sans Pro";
$red: #E04F67;
$dark-red: darken($red, 15%);
$gold: #D5D55A;
$green: #8FCB64;
$blue: #5AD5D5;
$dark-blue: darken($blue, 25%);
$purple: #A864CB;