@font-face {
  font-family: "New Againts";
  src: url(font-path("newagaints.eot"));
  src: url(font-path("newagaints.eot") + "?#iefix")              format("embedded-opentype"),
       url(font-path("newagaints.woff2"))                        format("woff2"),
       url(font-path("newagaints.woff"))                         format("woff"),
       url(font-path("newagaints.ttf"))                          format("truetype"),
       url(font-path("newagaints.svg") + "#againtsfreshregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

$display-font: "New Againts";
$body-font: "Roboto Condensed";
$blue: #0197BA;
$pink: #AE4077;
$grey: #BDBCC1;