@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "variables";
@import "layouts";
@import "main";
@import "tour_dates";
@import "mailing_list";

a:hover, a:focus {
  text-decoration: none;
}

section {
  padding: 30px 0;
}

@media (min-width: 768px) {
  section {
    padding: 90px 0;
  }
}

.container {
  max-width: 750px;
}

.title {
  margin: 0 0 10px 0;
  font-size: 9vw;
  line-height: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  color: $blue;
}

@media (min-width: 768px) {
  .title {
    font-size: 40px;
  }
}

.button {
  padding: 0;
  display: inline-block;
  border: 3px solid $pink;
  font-size: 6vw;
  line-height: 3em;
  letter-spacing: .2em;
  font-weight: bold;
  text-transform: uppercase;
  color: $pink;
  background: transparent;
  transition: color .3s, background-color .3s;

  &:hover {
    color: #EEEEEE;
    background-color: $pink;
  }

  &:focus {
    color: $pink;
  }
}

@media (min-width: 768px) {
  .button {
    font-size: 25px;
  }
}

div#tour-dates {
  label.bit-uiButton {
    @extend .button;
    width: 80px;
    height: auto;
    margin: 0;
    padding: 0 0 0 5px;
    border-width: 2px;
    font-family: $body-font;
    font-size: 14px;
    line-height: 1.7em !important;

    a {
      float: none;
      color: $pink !important;
      transition: color .3s;
    }

    &:hover a {
      color: #EEEEEE !important;
    }
  }
}

.fa {
  letter-spacing: 0;
}