@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "variables";
@import "layouts";
@import "main";
@import "tour_dates";

a:hover, a:focus {
  text-decoration: none;
}

.container {
  max-width: 750px;
}

.title {
  margin: 30px 0 20px 0;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: $blue;
}

.button, .button:focus {
  display: block;
  border: 3px solid $pink;
  font-size: 20px;
  line-height: 3em;
  letter-spacing: .25em;
  font-weight: bold;
  text-transform: uppercase;
  color: $pink;
  transition: color .3s, background-color .3s;

  &:hover {
    color: white;
    background-color: $pink;
  }
}

div#tour-dates {
  label.bit-uiButton {
    @extend .button;
    width: 80px;
    height: auto;
    margin: 0;
    padding: 0 0 0 5px;
    border-width: 2px;
    font-family: $body-font;
    font-size: 14px;
    line-height: 1.7em !important;
    background: transparent;

    a {
      float: none;
      color: $pink !important;
      transition: color .3s;
    }

    &:hover a {
      color: white !important;
    }
  }
}

.fa {
  letter-spacing: 0;
}