body {
  text-align: center;
  font-family: $body-font;
  text-transform: lowercase;
  color: #DDDDDD;
  background-color: #111111;
  background-image: url(http://our-undivided-attention.s3.amazonaws.com/background_mini.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

header {
  position: relative;
  z-index: 9000;
  background-color: #222222;
  background: linear-gradient(to bottom, #222222, #111111);
  box-shadow: 0 0 20px rgba(black, .5);

  a#logo {
    margin-top: 10px;
    display: block;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  nav {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    font-size: 5vw;
    line-height: 1.6em;
    letter-spacing: .2em;

    a {
      color: #EEEEEE;
      transition: color .3s;

      &:hover {
        color: $pink;
      }

      &:focus {
        color: #EEEEEE;
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    a#logo {
      height: 30px;
      margin-bottom: 10px;
      float: left;
    }

    nav {
      width: 345px;
      margin: 10px 0;
      float: right;
      font-size: 18px;
      line-height: 30px;
    }
  }
}

footer {
  padding-bottom: 30px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  footer {
    font-size: 4vw;
  }
}