body {
  text-align: center;
  font-family: $body-font;
  font-size: 18px;
  letter-spacing: .05em;
  text-transform: lowercase;
  color: #DDDDDD;
  background-color: black;
}

header {
  background-color: #222222;
  background: linear-gradient(to bottom, #222222, #111111);
  box-shadow: 0 0 20px rgba(black, .5);

  a#logo {
    margin-top: 10px;
    display: block;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  nav {
    margin: 5px 0 10px 0;
    line-height: 30px;
    letter-spacing: .25em;

    a, a:focus {
      padding: 0 5px;
      display: inline-block;
      color: $pink;
      transition: color .5s;

      &:hover {
        color: white;
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    a#logo {
      height: 30px;
      margin-bottom: 10px;
      float: left;
    }

    nav {
      margin-top: 10px;
      float: right;
    }
  }
}

footer {
  padding: 30px 0 10px 0;
  font-size: 14px;
  text-transform: uppercase;
}