div#main {
  img, a.button {
    width: 100%;
  }

  img#still-frame {
    cursor: pointer;
  }

  section#new-album {
    padding-left: 5px;
    padding-right: 5px;

    h1.title {
      margin-bottom: 0;
    }
  }

  p {
    font-size: 5vw;
    line-height: 2em;
    color: #CCCCCC;
  }

  a.button {
    margin: 20px 0 10px 0;

    i.fa-chevron-right {
      margin: 0 -5px;
      position: relative;
      top: -1px;
      font-size: 85%;
    }
  }

  img#stars {
    width: 20%;
  }
}

@media (min-width: 768px) {
  div#main {
    section#new-album {
      padding-left: 30px;
      padding-right: 30px;
    }

    p {
      font-size: 20px;
    }
  }
}

div#video-overlay {
  padding-top: 50px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: none;
  color: white;
  background-color: black;

  i.fa-times {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
  }

  div#video-player {
    height: 55vw;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: 768px) {
  div#video-overlay {
    div#video-player {
      height: 47vw;
    }
  }
}