section#tour {
  div.bit-widget-container {
    text-align: left;
  }

  div.bit-widget {
    padding: 0;
  }

  div.bit-nav-bar-container {
    display: none;
  }

  div.bit-upcoming-events {
    margin: 0;
  }

  div.bit-event {
    padding: 10px 0;
  }

  a.bit-button {
    width: 120px;
    line-height: 40px;
    letter-spacing: .05em;
  }

  div.bit-rsvp-container {
    display: none;
  }
}